@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
}

/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 #0000004d;
    box-shadow: 0 30px 60px 0 #0000004d;
    text-align: center;
}

.title-login {
    padding: 0.6em;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit] {
    background-color: #24b49a;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    -webkit-box-shadow: 0 10px 20px 0 #1a8874;
    box-shadow: 0 10px 20px 0 #1a8874;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #1a8874;
}



input[type=text], input[type=email], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
}

input[type=text]:focus {
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #5fbae9;
}

input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover:after {
    width: 100%;
}

/* OTHERS */

input:focus {
    outline: none;
}
