<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': fc.tema.errors && fc.tema.touched}"
          formControlName="tema" placeholder="Insira o Tema">
          <div *ngIf="fc.tema.errors?.required && fc.tema.touched" class="invalid-feedback">
            Tema é obrigatório
          </div>
          <div *ngIf="fc.tema.errors?.minlength && fc.tema.touched" class="invalid-feedback">
            Tema deve conter no mínimo 4 caracteres
          </div>
          <div *ngIf="fc.tema.errors?.maxlength && fc.tema.touched" class="invalid-feedback">
            Tema deve conter no máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': fc.local.errors && fc.local.touched}"
          formControlName="local" placeholder="">
          <div *ngIf="fc.tema.errors?.required && fc.local.touched" class="invalid-feedback">
            Local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control" [ngClass]="{'is-invalid': fc.dataEvento.errors && fc.dataEvento.touched}"
          formControlName="dataEvento" placeholder="">
          <div *ngIf="fc.tema.errors?.required && fc.dataEvento.touched" class="invalid-feedback">
            Data e hora são obrigatórios
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Quantidade de Pessoas</label>
          <input type="number" class="form-control" [ngClass]="{'is-invalid': fc.qtdPessoas.errors && fc.qtdPessoas.touched}"
          formControlName="qtdPessoas" placeholder="">
          <div *ngIf="fc.qtdPessoas.errors?.required && fc.qtdPessoas.touched" class="invalid-feedback">
            Quantidade de pessoas é obrigatório
          </div>
          <div *ngIf="fc.qtdPessoas.errors?.max && fc.qtdPessoas.touched" class="invalid-feedback">
            Limite máximo de pessoas é de 120.000
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': fc.telefone.errors && fc.telefone.touched}"
          formControlName="telefone" placeholder="(00) 90000-0000">
          <div *ngIf="fc.telefone.errors?.required && fc.telefone.touched" class="invalid-feedback">
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': fc.email.errors && fc.email.touched}"
          formControlName="email" placeholder="e-mail">
          <div *ngIf="fc.email.errors?.required && fc.email.touched" class="invalid-feedback">
            Email é obrigatório
          </div>
          <div *ngIf="fc.email.errors?.email && fc.email.touched" class="invalid-feedback">
            Email deve ser válido
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': fc.imagemURL.errors && fc.imagemURL.touched}"
          formControlName="imagemURL" placeholder="imagem">
          <div *ngIf="fc.imagemURL.errors?.required && fc.imagemURL.touched" class="invalid-feedback">
            imagem é obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
